<li class="row fields">
  <div class="form-group col-xs-9">
    <%= f.cktext_area :text, placeholder: 'answer', rows: '3', class: 'form-control' %>
  </div>

  <div class="checkbox col-xs-2 col-sm-2">
    <%= f.label :correct do %>
        <%= f.check_box :correct %> Correct answer?
    <% end %>
  </div>

  <div class="col-xs-1">
    <%= link_to '', '#', class: 'glyphicon glyphicon-remove btn  btn-danger remove_fields' %>
  </div>

</li>
