<footer class="footer">
  <div class="container">
    <p class="text-muted">Copyright © 2016  <%= link_to 'Exam Tests', '#', target: '_blank' %>, released under the MIT license.</p>
  </div>
</footer>