<h2>Surveys</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.description %></td>
        <td><%= link_to 'Start', new_survey_attempt_path(survey), class: 'btn btn-primary'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<div class="actions pull-right">
  <%= link_to t('back'), surveys_path, class: 'btn btn-default' %>
</div>
