/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require highlight/railscasts.min
 *= require_self
 */

body {
    padding-bottom: 50px;
}

div .fields{
    margin-left: 15px;
}

div .align-actions{
    margin-top: 60px;
    margin-bottom: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background-color: #f8f8f8;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ul.questions {
    padding-left: 0;
}
ul.questions, ul.options {
    list-style-type: none;
}

.correct-answer {
    color: #128023;
}

.wrong-answer {
    color: #d9534f
}

.score{
    float: right;
}

.score-passing{
    color: #4390df;
}

.score-reproving{
    color: #d9534f;
}

ul.options li:nth-child(odd) {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.form-control-short {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

/*.convert-code li label{*/
    /*display: block;*/
/*}*/

/*.convert-code li label input[type=checkbox], .convert-code li label pre{*/
    /*display:inline-block;*/
    /*vertical-align:middle;*/
/*}*/

/*.convert-code li label pre{*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
/*}*/