/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap-social
 *= require callout
 *= require highlight/railscasts.min
 *= require_self
 */

body {
    padding-bottom: 50px;
}

div .fields{
    margin-left: 15px;
}

div .align-actions{
    margin-top: 60px;
    margin-bottom: 15px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    background-color: #f8f8f8;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

ul.questions {
    padding-left: 0;
}
ul.questions, ul.options {
    list-style-type: none;
}

.correct-answer {
    /*color: #128023;*/
    background-color: rgba(61, 234, 51, 0.2) !important;
    /*opacity: 0.2;*/
}

.wrong-answer {
    /*color: #d9534f;*/
    background-color: rgba(148, 19, 17, 0.2) !important;
}

.score{
    float: right;
}

.score-passing{
    color: #4390df;
}

.score-reproving{
    color: #d9534f;
}

ol.options li:nth-child(odd), ul.options li:nth-child(odd) {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.form-control-short {
    padding: 8px 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.convert-code-options-options li label{
    display: block;
}

.convert-code-options-options li label input[type=checkbox], .convert-code-options-options li label pre{
    display:inline-block;
    vertical-align:middle;
}

.convert-code-options-options li label pre{
    margin-top: 10px;
    margin-left: 10px;
}

.parent{
    display:table;
}
.child{
    display:table-cell;
    vertical-align:middle;
    padding-left:20px;
}
/*TODO: check selectors*/
/*.convert-code-options li label{*/
    /*display: block;*/
/*}*/

/*.convert-code-options li label pre{*/
    /*display:inline-block;*/
    /*vertical-align:middle;*/
/*}*/

/*.convert-code-options li label pre{*/
    /*margin-top: 10px;*/
    /*margin-left: 10px;*/
/*}*/




/* --- Style checkbox and radio buttons --- */

.checkbox, .radio {
  margin-bottom: 20px;
}

.checkbox *,
.radio * {
    cursor: pointer;
}

.checkbox input,
.radio input {
    opacity: 0;
}

.checkbox span,
.radio span {
    position: relative;
    display: inline-block;
    margin-left: -25px;
    vertical-align: top;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid #ccc;
}

.checkbox:hover span,
.radio:hover span {
    border-color: #005288;
}

.checkbox span:before,
.radio span:before {
    content: "\2713"; /* comment content to use custom icon classes */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    vertical-align: middle;
    color: #005288;
}

/* override for radio */
.radio span {
    border-radius: 50%;
}

.radio span:before {
    content: "";
    width: 10px;
    height: 10px;
    margin: 4px auto;
    background-color: #005288;
    border-radius: 100px;
}

.checkbox input[type=checkbox]:checked + span,
.radio input[type=radio]:checked + span {
    border-color: #005288;
    background-color: #005288;
}

.radio input[type=radio]:checked + span {
    background-color: #fff;
}

.checkbox input[type=checkbox]:checked + span:before,
.radio input[type=radio]:checked + span:before {
    color: #fff;
    opacity: 1;
    transition: color .3 ease-out;
}

.checkbox input[type=checkbox]:disabled + span,
.radio input[type=radio]:disabled + span {
    border-color: #ddd !important;
    background-color: #ddd !important;
}

/* --- Radio Button--- */
.radioBtn .notActive {
    background: none !important;
    background-repeat: repeat-x;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}